.centeredcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mathisiako {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}