<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/img/my_logo-small.png" alt="logo" class="logo"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" (click)="toggleNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="games" routerLinkActive="active-link" (click)="toggleNavbar()">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link" (click)="toggleNavbar()">MA Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="icrepo" routerLinkActive="active-link" (click)="toggleNavbar()">Games Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

