<div class="banner-container">
  <div class="banner">
    <div class="banner-content">
      <h1>Delicious Games</h1>
      <div class="home-description">A game is any substance consumed by an organism for nutritional support. Games are usually made of plants, animals, or fungi and contain essential nutrients such as carbohydrates, fats, proteins, vitamins and minerals. A game is ingested by an organism and assimilated by the organism's cells to provide energy, maintain life and stimulate growth.</div>
      <a routerLink="games">CHECK THE GAMES<i class="bi bi-arrow-right"></i></a>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
