<div class="banner-container">
    <div class="banner" [ngClass]="{'hidden': !showBanner}" [style.background-image]="'url(./assets/img/bannering.jpg)'">
      <div class="banner-content">
        <h1>Delicious Games</h1>
        <h1 class="banner-subtitle">digital cuisine</h1>
      </div>
    </div>
  </div>
  
  <!-- Creates select box with categories -->
  <div class="formselecediv" *ngIf="!showLoading">
    <div class="container">
      <label class="labelc">Select category </label>
      <button class="btn btn-success" id="toggleButton" (click)="toggleBanner()">
        {{ showBanner ? 'Hide Banner' : 'Show Banner' }}
      </button>
      <select class="form-select" aria-label="Default select example" (change)="filterDataVal($event)">
        <option *ngFor="let data of categoriesData" [value]="data.name">{{ data.name }}</option>
      </select>
    </div>
  </div>
  
  <!-- Creates upper pagination -->
  <div class="pagination justify-content-center" *ngIf="!showLoading">
    <pagination-controls class="my-pagination" (pageChange)="pageNo = $event"></pagination-controls>
  </div>
  
  <!-- Skeleton loader when loading -->
  <div *ngIf="showLoading">
    <div class="container-fluid full-page">
      <div class="w-100 h-100">
        <div class="row justify-content-center h-100">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-1" *ngFor="let i of loadingData">
            <div class="skeleton-card skeleton-card-custom w-100">
              <div class="skeleton-card-content">
                <div class="skeleton-card is-loading">
                  <div class="skeleton-image"></div>
                  <div class="skeleton-content">
                    <div class="skeleton-h2"></div>
                    <div class="skeleton-p"></div>
                    <div class="skeleton-p" style="width: 60%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Data display when not loading -->
  <div *ngIf="!showLoading">
    <div class="container-fluid full-page">
      <div class="w-100 h-100">
        <div class="row justify-content-center h-100">
          <div *ngFor="let data of filterData | paginate: { itemsPerPage: 24, currentPage: pageNo }"
            class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-1">
            <div class="card card-custom w-100">
              <div class="card-content">
                <a [href]="data.LINK" target="_blank" class="image-link">
                  <img class="card-img-top" [src]="'./assets/img/gamepics/' + data.COVERS" alt="Card image cap">
                  <div class="overlay">
                    <img src="./assets/img/video.svg" alt="Cinema Clapper" class="clapper-icon">
                  </div>
                  <div class="year-overlay">{{ data.RELEASE_DATE }}</div>
                  <div class="remarks-overlay" [ngClass]="{
                    'PRIORITY': data.REMARKS === 'PRIORITY!',
                    'default': !['PRIORITY'].includes(data.REMARKS)
                  }">{{ data.REMARKS }}</div>
                </a>
  
                <div class="card-title-strip">
                  <h6 class="card-title">{{ data.GAME_NAME | titlecase }}</h6>
                </div>
                <p class="card-description">{{ data.GAME_DESCRIPTION }}</p>
                <p class="card-state" [ngClass]="{
                    'in-progress': data.GAME_STATE === 'IN PROGRESS',
                    'to-play': data.GAME_STATE === 'To play',
                    'finished': data.GAME_STATE === 'Finished',
                    'to-continue': data.GAME_STATE === 'To Continue',
                    'abandoned': data.GAME_STATE === 'Abandoned',
                    'default': !['IN PROGRESS', 'To play', 'Finished', 'To Continue', 'Abandoned'].includes(data.GAME_STATE)
                  }">{{ data.GAME_STATE }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Creates downer pagination -->
  <div class="pagination justify-content-center" *ngIf="!showLoading">
    <pagination-controls class="my-pagination" (pageChange)="pageNo = $event"></pagination-controls>
  </div>
  
  <router-outlet></router-outlet>
  